body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--color-light-black);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
}
button {
  cursor: pointer;
  outline: none;
}
div {
  outline: none;
}
:root {
  --color-black: #2f281e;
  --color-light-black: #544837;
  --color-yellow: #ff9900;
}
